.hero-section {
    background: url('../../../images/topImage.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    padding: auto;
    color: white;
    text-align: center;
  }
  
  .hero-section .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .hero-section .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }
  